<html>
<head>

</head>

<body>
	<a asp-controller="Aluno"asp-action="PageAluno">Aluno</a>

		<br/>
		<br/>

	<a asp-controller="Curso"asp-action="PageCurso">Curso</a>

		<br/>
		<br/>

	<a asp-controller="Disciplina"asp-action="PageDisciplina">Disciplina</a>

		@RenderBody()

</body>


</html>